:root {
  --main: white;
  --second: black;
  --third: orange;
}

/* BASIC STYLES */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Comfortaa";
  background-color: var(--second);
  color: var(--main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 2rem;
}

/* HEADER, FOOTER STYLES */
header,
footer {
  padding: 20px 0;
}
header {
  border-bottom: 8px solid var(--third);
}
footer {
  width: 100%;
  margin-top: auto;
  border-top: 8px solid var(--third);
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
}
footer .container {
  display: flex;
  align-items: center;
  gap: 24px;
}
footer p,
footer a,
footer a img {
  font-size: 20px;
  color: var(--main);
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}
footer a img {
  height: 28px;
  padding: 4px 8px;
  border-radius: 8px;
}
footer p:hover,
footer a:hover {
  color: var(--third);
}
footer a img:hover {
  background-color: var(--third);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.camera-icon {
  color: var(--third);
}
.search {
  position: relative;
  width: 350px;
}
#search-bar {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding: 8px 164px 8px 12px;
  border: 1px solid black;
  border-radius: 24px;
  transition: all 200ms;
  font-size: 1rem;
}
#search-bar:focus {
  outline: none;
  box-shadow: var(--third) 0px 0px 12px 0px;
}
#search-icon {
  color: black;
  position: absolute;
  top: 25%;
  right: 4%;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms;
}
#search-close {
  color: black;
  position: absolute;
  top: 26%;
  right: 42%;
  font-weight: bold;
  cursor: pointer;
  transition: all 200ms;
}
#search-close:hover,
#search-close:active,
#search-icon:hover,
#search-icon:active {
  color: var(--third);
}
#season-suggestion {
  color: black;
  position: absolute;
  top: 30%;
  font-size: 0.8rem;
  right: 12%;
  cursor: pointer;
  transition: all 200ms;
}
#season-suggestion:hover {
  color: var(--third);
  text-decoration: underline;
}

/* MAIN GALLERY */
main {
  margin-top: 16px;
  margin-bottom: 16px;
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 16px;
}
.picture {
  box-sizing: border-box;
  width: 380px;
  height: 220px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid var(--main);
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1280px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (max-width:420px) {
  #search-close {
    right: 140px;
  }
}

@media screen and (max-width: 660px) {
  h1 {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
  }
  .header {
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  footer .container {
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}